<% content_for(:title, "Add a Job Vacancy | ReVamp") %>

<div class="container">
  <div class="jobs_head">
    <h2>New Job Post</h2>
  </div>
  <div class="jobs_body">
    <hr>
    <%= render "form" %>
  </div>
</div>