

<div class="flex-container" id="heading">
  <p>REVAMP</p>
</div>

<div class="logo">
  <img src="logos.png">
</div>

<div class="slogan">
  <h3><center>Learn. Discover. Design</center></h3>
</div>

<br> <hr>  <br> <br>

<div class="motto">
  <h2><center>Striving to meet the ever increasing standards of web design, one site at a time</center></h2>
</div>

<br> <hr> <br> <br> 

<div class="why">
<h2 id="about"><center>Why Revamp</center></h2>
<h3><center>Let's be honest, a good number of Kenyan websites are not that well done.<center></h3>
<h3><center>Here at Revamp, we're trying to showcase how much better they could be, by providing a plaftorm where designers can submit better versions of the same site,</center></h3>
<h3><center>In the hope that the site owners will pass by here and consider the changes</center></h3>
</div>

<br> <hr> <br>

<div class="container">
<h2 id="us"><center>The Team</center><h2>
<div class="team">
  <img src="agnes.jpg" id="agnes"> 
  <img src="kenn.JPG" id="kenn"> 
  <img src="tasha.JPG" id="tasha">
  <img src="ruth.jpg" id="ruth">
<hr>
</div>
</div>




