<% content_for(:title, "ReVamp") %>

<!-- HTML landing page/section !-->

<!-- Beginning of Carousel Code !-->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active carousel-image-1">
				<div class="carousel-caption">
				</div>
			</div>

			<div class="item carousel-image-2">
				<div class="carousel-caption"></div>
			</div>

			<div class="item carousel-image-3">
				<div class="carousel-caption"></div>
			</div>  

			<div class="landing-header">
				<h1>Turning ordinary websites into<br>stunning<br>online destinations</h1>
				<button class="btn landing-page-button"><a href="/sites/new">Submit Your Site</a></button>
				<div>
					<a href="#index-page""><span class="glyphicon glyphicon-menu-down"></span></a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container" id="index-page">
		<div class="about">
			<h2>Why Revamp</h2>
			<hr>
			<h3>We are striving to meet the ever-increasing standards of web design, one site at a time</h3>
			<br>
			<h4>Let's be honest, a good number of Kenyan websites are not that well done.</h4>
			<h4>Here at Revamp, we're trying to showcase how much better they could be, by providing a plaftorm where designers can submit better versions of the same site,</h4>
			<h4>In the hope that the site owners will pass by here and consider the changes</h4>
		</div>
		<br>
		<div class ="icons">
			<div class="icon1">
				<span class="glyphicon glyphicon-education"></span>
				<h3>Learn</h3>
			</div>

			<div class="icon2">
				<span class="glyphicon glyphicon-search"></span>
				<h3>Discover</h3>
			</div>

			<div class="icon3">
				<span class="glyphicon glyphicon-pencil"></span>
				<h3>Design</h3>
			</div>
		</div>

		<div class="team">
			<h2>The Team</h2>
			<hr>
			<img src="agnes.jpg" id="agnes"> 
			<img src="kenn.JPG" id="kenn"> 
			<img src="tasha.JPG" id="tasha">
			<img src="ruth.jpg" id="ruth">
		</div>
	</div>