

<!-- HTML landing page/section !-->



     <!-- Beginning of Carousel Code !-->


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <%#<div class="carousel-indicators">

    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>

  </div>%>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <img src="image1.jpg">
        <div class="carousel-caption">
        </div>
    </div>

    <div class="item">
      <img src="image2.jpg">
       <div class="carousel-caption">
       </div>
    </div>

    <div class="item">
      <img src="image3.jpg">
        <div class="carousel-caption">        
        </div>
    </div>  

    <div class="landingHeader">
       <h1>Turning ordinary websites into <br> stunning <br>online destinations</h1>
       <a href="index.html" class="btn btn-site">Submit Your Site</a>
     </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>%>

<br> <hr>  <br> <br>

<div class="motto">
  <h2><center>Striving to meet the ever increasing standards of web design, one site at a time</center></h2>
</div>

<br> <hr> <br> <br> 

<div class="why">
<h2 id="about"><center>Why Revamp</center></h2>
<h3><center>Let's be honest, a good number of Kenyan websites are not that well done.<center></h3>
<h3><center>Here at Revamp, we're trying to showcase how much better they could be, by providing a plaftorm where designers can submit better versions of the same site,</center></h3>
<h3><center>In the hope that the site owners will pass by here and consider the changes</center></h3>
</div>

<br> <hr>

<div class ="icons">

  <div class="icon1">
    <center><img src="learn.jpg"></center>
    <h2>Learn</h2>
    <hr>
   </div>

  <div class="icon2">
    <center><img src="discover.jpg"></center>
    <h2>Discover</h2>
    <hr>
  </div>

  <div class="icon3">
    <center><img src="design.jpg"></center>
    <h2>Design</h2>
    <hr>
  </div>
  
</div>

<hr>

<div class="container">
<h2 id="us"><center>The Team</center><h2>
<div class="team">
  <img class="img-circle" src="agnes.jpg" id="agnes"> 
  <img src="kenn.JPG" id="kenn"> 
  <img src="tasha.JPG" id="tasha">
  <img src="ruth.jpg" id="ruth">
<hr>
</div>
</div>




