<% content_for(:title, "Contacts | ReVamp") %>

<div class="container">
  <div class="contacts-head">
    <h2>Contact Us</h2>
  </div>
  <hr>
  <div id="contacts-body">
  	<p><span class="glyphicon glyphicon-envelope"></span> EMAIL: revamp@gmail.com</p>
  	<p><span class="ion-android-call"></span> CALL: +254 732 716 187</p>
	<a href="http://twitter.com/" class="icon-button twitter"><i class="ion-social-twitter"></i><span></span></a>
	<a href="http://facebook.com" class="icon-button facebook"><i class="ion-social-facebook"></i><span></span></a>
	<a href="http://plus.google.com" class="icon-button google-plus"><i class="ion-social-googleplus"></i><span></span></a>
  </div>
</div>
