// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contacts-head {
    color: #3FE0FF;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

#contacts-body {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    background-color: #000000;
}

.icon-button {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 3.5rem;
    height: 5.0rem;
    line-height: 5.0rem;
    margin: 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 5.0rem;
}


/* Circle */

.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 36%;
    margin: 0;
    position: absolute;
    top: 35%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 5.0rem;
    height: 5.0rem;
    border-radius: 5.0rem;
    margin: -1.8rem;
}

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.google-plus span {
    background-color: #db5a3c;
}


/* Icons */

.icon-button i {
    background: none;
    color: white;
    height: 5.0rem;
    left: 0;
    line-height: 5.0rem;
    position: absolute;
    top: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 5.0rem;
    z-index: 10;
}

.icon-button .ion-social-twitter {
    color: #4099ff;
}

.icon-button .ion-social-facebook {
    color: #3B5998;
}

.icon-button .ion-social-googleplus {
    color: #db5a3c;
}

.icon-button:hover .ion-social-twitter,
.icon-button:hover .ion-social-facebook,
.icon-button:hover .ion-social-googleplus {
    color: white;
}
