// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: url("/rev1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

img {
    height: 70px;
    width: 80px;
    margin-top: 0.2%;
    margin-bottom: 10%;
}

.navbar-inverse .navbar-nav > li {
    padding: 20px;
    line-height: 10px;
}

.navbar-inverse .navbar-brand {
    padding: 20px;
    line-height: 10px;
}

#heading {
    font-family: sans-serif;
    font-size: 3em;
    color: aqua;
    text-align: center;
    margin-top: 16%;
    border-style: solid;
    border-width: 10%;
    width: 400px;
    height: 70px;
    margin-left: 35%
}


/*ul li :hover{
  background: #29B59F;
}*/
