// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item {
    padding: 270px;
}

.carousel-image-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("/image1.jpg");
}

.carousel-image-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("/image2.jpg");
}

.carousel-image-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("/image3.jpg");
}

.carousel-image-1,
.carousel-image-2,
.carousel-image-3 {
    background-size: cover;
}

.landing-header {
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 27%;
    top: 120px;
    color: white;
    padding: 25px;
    margin: 20px;
}

.landing-page-button {
    border: 1px solid #3FE0FF;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    background-color: #3FE0FF;
}

.landing-page-button a,
.glyphicon-menu-down {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.landing-page-button a:hover {
    color: #3FE0FF;
    text-decoration: none;
}

.landing-page-button:hover {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background-color: white;
}

.glyphicon-menu-down {
    margin-top: 70px;
}

#index-page {
    margin-top: 50px;
    text-align: center;
    color: white;
}

#index-page h2 {
    color: #3FE0FF;
    text-transform: uppercase;
}

.icons {
    color: #000000;
}

.icon1:hover,
.icon2:hover,
.icon3:hover {
    h3 {
        visibility: visible;
    }
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.icons h3 {
    visibility: hidden;
}

.glyphicon-search,
.glyphicon-pencil,
.glyphicon-education {
    font-size: 130px;
}

.glyphicon-search:hover,
.glyphicon-pencil:hover,
.glyphicon-education:hover {
    color: #3FE0FF;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#about {
    color: #3FE0FF;
    font-family: 'Arvo', serif;
}

.team {
    margin: 20px;
}

#agnes,
#kenn,
#tasha,
#ruth {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    margin-left: 5%;
    border-radius: 50%;
    image-rendering: auto;
    filter: grayscale(0);
}

#agnes:hover,
#kenn:hover,
#tasha:hover,
#ruth:hover {
    filter: grayscale(100%);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.icons {
    column-count: 3;
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    //font-family: 'Source Sans Pro', sans-serif;
    //font-family: 'Montserrat', sans-serif;
    font-family: 'Arvo', serif;
    //font-family: 'Rubik', sans-serif;
    color: yellow;
}

@media only screen and (min-width: 1224px) {}
