// Place all the styles related to the github_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign_up_head {
    color: aqua;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.sign_up_body {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.password_head {
    color: aqua;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.password_body {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.edit_user_head {
    color: aqua;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.edit_user_body {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
