<div class="container-fluid">
	<h1>Sites under <%= @category.category_name %></h1>

	<% if @category.sites.any? %>
		<ul>
			<% @category.sites.each do |site|%>
				<li><%= site.site_name %></li>
			<% end %>
		</ul>
	<% else %>
		<p>There are no sites yet!</p>
	<% end %>
</div>