<div class="container-fluid">
	<h1>Sites</h1>
	<hr>
	<% if @sites.any? %>
		<ul>
			<% @sites.each do |site|%>
				<li><%= site.site_name %></li>
			<% end %>
		</ul>
	<% else %>
		<p>There are no sites yet!</p>
	<% end %>
	<%= link_to "Add New Site", new_site_path %>
	<hr>
	<div id='tag_cloud'>
	  <% tag_cloud Site.tag_counts, %w{s m l} do |tag, css_class| %>
	    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
	  <% end %>
	</div>
</div>