<% content_for(:title, "Upload Your Revamped site | ReVamp") %>

<div class="container">
  <div class="sites_head">
    <h3>Add A Site</h3>
  </div>
  <div class="sites_body">
    <hr>
    <%= render "form" %>
  </div>
</div>